name: mingw32-make

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-2019
    steps:
    - name: checkout code
      uses: actions/checkout@v4
      
    - name: Set up MinGW
      uses: egor-tensin/setup-mingw@v2
      with:
        platform: x86
        version: 12.2.0 

    - name: "Setup"
      run: |
        gcc --version

    - name: Compile Project
      run: |
        mingw32-make --version
        mingw32-make clean
        mingw32-make --debug

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: sfsf-artifact
        path: bin/sfsf.asi
        
    - name: Create Release
      uses: actions/create-release@v1
      id: create_release
      with:
        tag_name: ${{ github.ref }}
        release_name: ${{ steps.version.outputs.version }}
        draft: true
        prerelease: false
        body_path: CHANGELOG.md
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Checking Locations
      run: ls
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: bin/sfsf.asi
        asset_name: sfsf.asi
        asset_content_type: application/zip
